# Python
.venv/
__pycache__/
*.pyc
.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
build/
coverage/

# Vite
.vite/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

.pytest_cache/
*.tgz

.env.docker
.env.*

# Safe environment templates
!.env.example
!.env.docker.example